# build directory for Sencha (ExtJS) projects

build/
ext/
resources/pdf/
resources/thesaurus/gcmd_keywords.csv
resources/thesaurus/gcmd_labels.csv
resources/thesaurus/gcmd_relations.csv
resources/thesaurus/gemet2csv.php
resources/thesaurus/gemet/gemet-definitions.rdf
resources/thesaurus/gemet_keywords.csv
resources/thesaurus/gemet_labels.csv
resources/thesaurus/gemet_relations.csv
resources/thesaurus/gemet/gemet-skoscore.rdf
resources/thesaurus/gcmd/sciencekeywords.rdf
resources/thesaurus/simplelithology_index.csv
resources/thesaurus/simplelithology_keywords.csv
resources/thesaurus/simplelithology_labels.csv
resources/thesaurus/simplelithology_relations.csv
resources/thesaurus/dfgggs_index.csv
resources/thesaurus/dfgggs_keywords.csv
resources/thesaurus/dfgggs_labels.csv
resources/thesaurus/dfgggs_relations.csv
resources/thesaurus/gcmd/gcmdinst_keywords.csv
resources/thesaurus/gcmd/gcmdinst_labels.csv
resources/thesaurus/gcmd/gcmdinst_relations.csv
resources/thesaurus/gcmd/gcmdplat_keywords.csv
resources/thesaurus/gcmd/gcmdplat_labels.csv
resources/thesaurus/gcmd/gcmdplat_relations.csv
resources/thesaurus/gcmd/instruments.rdf
resources/thesaurus/gcmd/instruments2csv.php
resources/thesaurus/gcmd/platforms.rdf
resources/thesaurus/gcmd/platforms2csv.php
resources/thesaurus/gcmdinst_index.csv
resources/thesaurus/gcmdinst_keywords.csv
resources/thesaurus/gcmdinst_labels.csv
resources/thesaurus/gcmdinst_relations.csv
resources/thesaurus/gcmdplat_index.csv
resources/thesaurus/gcmdplat_keywords.csv
resources/thesaurus/gcmdplat_labels.csv
resources/thesaurus/gcmdplat_relations.csv
resources/thesaurus/stratigraphy_index.csv
resources/thesaurus/stratigraphy_keywords.csv
resources/thesaurus/stratigraphy_labels.csv
resources/thesaurus/stratigraphy_relations.csv
resources/thesaurus/4dmbdisciplines_index.csv
resources/thesaurus/4dmbdisciplines_keywords.csv
resources/thesaurus/4dmbdisciplines_labels.csv
resources/thesaurus/4dmbdisciplines_relations.csv
resources/thesaurus/gcmd4dmb_index.csv
resources/thesaurus/gcmd4dmb_keywords.csv
resources/thesaurus/gcmd4dmb_keywords_origgcmd.csv
resources/thesaurus/gcmd4dmb_keywordsmod.csv
resources/thesaurus/gcmd4dmb_labels.csv
resources/thesaurus/gcmd4dmb_relations.csv
resources/thesaurus/gcmd4dmb_relations_origgcmd.csv
resources/thesaurus/alt/
resources/thesaurus/geosciml/
resources/thesaurus/ics/
# bootstrap files are regenerated by Sencha CMD on every build or refresh
bootstrap.js
bootstrap.css
bootstrap.json
sass/example/bootstrap.json
resources/includes/inc_conf.php
